.yukseklik-1-genislik-1{
    height: 100px;
    width: 100px;
}
.yukseklik-2-genislik-2{
    height: 200px;
    width: 200px;
}
.bg-color-red{
    background-color: red;
}
.bg-color-blue{
    background-color: blue;
}

.fatih-color-red{
    background-color: red;
}   
.fatih-color-blue{
background-color: blue;
}

.fatih-w-100{

    width: 100px;
}
.fatih-h-100{
    height: 100px;
}